body{
    background-color: #252525;
}

.main-cont {
    width: 80vw;
}

.top-section{
    padding-top: 2em;
}

.top-section h1{
    background: linear-gradient(to right, rgba(37,37,37,1), rgba(37,37,37,0.1)), linear-gradient(to left, rgba(37,37,37,1), rgba(37,37,37,0.1)), url('/assets/images/bg/top-bg-gif.gif');
    background-size: cover;
    padding: 10px;
    font-weight: bold;
    /*border-radius: 100px;*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
}

.top-section, .genre-section{
    /*background-color: #E84545;*/
}

.genre-section{
    padding-bottom: 1em;
}

.genre-btns{
    border-top: 1px solid white;
    min-height: 5em;
    max-height: max-content;
    border-bottom: 1px solid white;
}

.genre-btn{
    border-left: 1px solid white;
    border-right: 1px solid white;
    height: 5em;
    display: grid;
    place-items: center;
    padding: 10px;
}

.genre-btn button {
    background: transparent;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 0.8em;
}

/* Bounce To Top */
.hvr-bounce-to-top {
    /*display: inline-block;*/
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3282B8;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
    color: white;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.movie-section{
    padding: 3em;
}

.movie-section .row{

}

.movie{
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;;
    min-height: 0.7em;
    max-height: 25em;
    border: 1px solid white;
    transition: all 0.4s ease;

}

.movie .movie-img{
    position: relative;
    text-align: center;
    color: white;
}

.mov-des{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    transition: all 1s ease;
    overflow: hidden;

}

.movie .movie-img img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    transition: all 0.4s ease;
    border-radius: 20px;
}

.btn-title{

}



